@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Color palette*/
:root{
    --primary-color: #1a2d42;
    --secondary-color: #2e4156;
    --tertiary-color: #aab7b7;
    --complementary-color: #c0c8ca ;
    --another-blue: #d4d8dd;;
}

body{
    -webkit-app-region: drag;
    background-color: var(--another-blue);
}

header{
    width: 100vw;
    height: 100vh;
    background-color: var(--secondary-color);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-shadow:0px 4px 6px rgba(0,0,0,0.7);
}

header img{
    width: 65px;
    border-radius: 9999px;
    box-shadow: 1px 1px 10px 1px #000;
}

h1{
    color: #fff;
    font-family: "Plus Jakarta Sans", sans-serif;
}

h2{
    color: var(--primary-color);
    font-weight: bold;
    text-align: center;
    font-family: "Raleway", sans-serif;
    margin-top: 2rem;
}

main{
    width: 100vw;
}

.container{
    margin: 2rem 2rem 0;
}

.card-routine{
    background-color: var(--tertiary-color);
    width: 300px;
    text-align: center;
    border-radius: 8px;
}