@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    -webkit-app-region: drag;

}

header{
    width: 100vw;
    height: 100vh;
    background-color: rgb(112,71,235);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    box-shadow:0px 4px 6px rgba(0,0,0,0.7);
}

header img{
    width: 65px;
    border-radius: 9999px;
    box-shadow: 1px 1px 10px 1px #000;
}

h1{
    color: #fff;
    font-family: "Plus Jakarta Sans", sans-serif;
}
